*{
    border: none;
    box-shadow: black 1px 2px 5px;
    padding: .5rem;
}
body, html, p{
    box-shadow: none;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 10rem;
    align-items: center;
    background-color: #000000b4;
    color: #e6cdcd;
}
button{
    width: 100px;
}
#weather{
    width: 150px;
    background-color: #141483e0;
    color: whitesmoke;
    border-radius: .4rem;
    padding: .5rem;
    text-align: center;
}
label {
    margin-bottom: -1rem;
}
#light {
    background-color: #7e0d0d88;
    border-radius: .4rem;
    padding: .2rem;
    font-weight: 900;
}
#light:hover {
    filter: brightness(0.6);
}